# The Evolution of Happiness

INTRO GOES HERE

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data2015 = pd.read_csv('2015.csv')
data2016 = pd.read_csv('2016.csv')
data2017 = pd.read_csv('2017.csv')
data2018 = pd.read_csv('2018.csv')
data2019 = pd.read_csv('2019.csv')

## Data Cleaning

The data is fairly clean already, but has slightly different information for each year. Before the DataFrames can be combined, they must have the same columns. The final columns and descriptions are:

* Year - The data covers 2015-2019
* Country - The name of the country
* Happiness Rank - The rank of the country in this survey; 1 is the happiest
* Happiness Score - The country's mean happiness score from this survey

Values in the following columns are the contribution of each variable to the overall Happiness Score\*:

* GDP Per Capita - The country's GDP per capita
* Social Support - The "Family" section of the survey was renamed in 2018, and includes ratings of social support in general
* Life Expectancy - The average life expectancy in the country; a measure of general population health
* Freedom - The "Freedom" section was renamed "Freedom to make life choices" in 2018; the shorter column name will be used
* Corruption - The "Trust (Government Corruption)" section was renamed "Perceptions of corruption" in 2018
* Generosity - The perceived generosity of the people of the country

The "Dystopia" column is being left out, as it was dropped in 2018.
<p>&nbsp;</p>


\*Happiness Score is the sum of the other columns

In [60]:
data2015['Year'] = 2015
data2016['Year'] = 2016
data2017['Year'] = 2017
data2018['Year'] = 2018
data2019['Year'] = 2019

In [65]:
data2015 = data2015[['Year', 'Country', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)',
         'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 
         'Generosity']]
data2015.columns = ['Year', 'Country', 'Happiness Rank', 'Happiness Score', 'GDP Per Capita',
                   'Social Support', 'Life Expectancy', 'Freedom', 'Corruption', 'Generosity']
data2015.head()

,Year,Country,Happiness Rank,Happiness Score,GDP Per Capita,Social Support,Life Expectancy,Freedom,Corruption,Generosity
0,2015,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,2015,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,2015,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,2015,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [52]:
data2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [53]:
data2018.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [54]:
data2019.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [55]:
data2015['Trust (Government Corruption)']

0      0.41978
1      0.14145
2      0.48357
3      0.36503
4      0.32957
        ...
153    0.55191
154    0.08010
155    0.18906
156    0.10062
157    0.10731
Name: Trust (Government Corruption), Length: 158, dtype: float64

In [58]:
data2019.tail()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091